h1 {
  /* color: rgba(0, 0, 255, 0.1); */
  color: #ff0000;
  font-size: 100px;
  /* Do not from 5% its required to be 5% of the total width of the viewport. */
  opacity: 0.5;
}

body {
  background-color: rgb(0, 0, 0);
}