body {
    background-color: yellow;
  background-image: url("https://m.media-amazon.com/images/I/71xop72y+kL._AC_UF894,1000_QL80_.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  background-attachment: fixed;
  background:yellow no-repeat  center center / cover url("https://m.media-amazon.com/images/I/71xop72y+kL._AC_UF894,1000_QL80_.jpg");
}

